next.config.js
.eslintrc.js
.serverless_nextjs/
.serverless/
.next/
next.config.js
.webpack
*.config.js
.vscode/
.idea/
node_modules/
tsconfig.json
package.json
.husky/
jest-e2e.json
jest.config.ts
tsoa.json
test/utils/setup.ts
dist/
out/
build/
.env
.envrc
.husky
.pnp
.pnp.js
.vercel
.next
.tsbuildinfo
next-env.d.ts
mockServiceWorker.js
/**/*/mocks/
.defaults
